:root {
    --bg-color: #4a4a4a;
    --text-color: #ffffff;
    --bg-image: url("assets/wood-design.jpg");
}
body {
    font-family: 'SF Pro', sans-serif;
    color: var(--text-color);
    background: var(--bg-image) var(--bg-color);
    background-size: cover;
    background-blend-mode: multiply;
}
#logo {
    text-align: center;
    font-weight: 200;
    font-size: 4rem;
    margin-top: 50px;
}
#content {
    text-align: center;
}
.group {
    display: inline-block;
    vertical-align: top;
    width: 20%;

}
h1 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0;

}
.subgroup {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 95%;
}
h2 {
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 0;
}
p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.3rem 0;
}
a {
    color: var(--text-color);
    text-decoration: none;
    opacity: 0.5;
    font-size: 1.5rem;
}
a:hover {
    color: #ffb700;
    transition: all 0.4s ease;
    opacity: 1;
    font-size: 1.51rem;
}

